.navbar-brand {
  font-size: 4rem;
}
.nav-link {
  font-size: 1.25rem;
}
.js-plotly-plot {
  margin-left: 6rem;
}

.lead {
  font-size: 1.5rem;
}

.footer {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.name {
  border: .25rem solid grey;
  padding-left: .5rem; padding-right: .5rem; padding-bottom: .25rem;
}

.navbar-brand {
  text-decoration: none;
  border-bottom: .5rem solid black;
  margin-bottom: 1rem;
}

a {
  color: #515151;
}

.rc-slider-track {
  background-color: #C28383;
}
.rc-slider-handle {
  border: solid 2px #C28383;
}

#SmallWorld {
  margin: 0;
}

#slider-output-container {
  width: 30rem;
  margin-left: 22.5rem;
  margin-bottom: 5rem;
}

#output-text {
  padding-top: 1rem;
  text-align: center;
}
