.navbar-brand {
  font-size: 4rem;
}
.nav-link {
  font-size: 1.25rem;
}
.js-plotly-plot {
  margin-left: 6rem;
}

.lead {
  font-size: 1.5rem;
}

.footer {
  padding-top: 4rem;
  margin-bottom: 1rem;
}

.name {
  border-right: .1rem solid grey;
  padding-left: .5rem; padding-right: 1rem; padding-bottom: .25rem;
}

.navbar-brand {
  border-bottom: 1.25rem solid black;
}

a {
  color: #515151;
}

.rc-slider-track {
  background-color: #4a4a4a;
}
.rc-slider-handle {
  border: solid 4px #4a4a4a;
}
.rc-slider-dot-active {
  border-color: #4a4a4a;
}
.rc-slider-rail {
  background-color: #efefef;
}

.coord {
  margin-left: 1rem;
}

#output-div {
  margin-top: 1rem;
}
#warning-div {
  margin-top: 3rem;
}

input {
  margin: .35rem;
}

button {
  border-style: none;
  margin-left: 1rem;
}

/*
#lat {
  margin-left: 1rem;
}
#lon {
  margin-right: 1rem;
}*/

#SmallWorld {
  margin: 0;
}

#slider-output-container {
  width: 30rem;
  margin-left: 22.5rem;
  margin-bottom: 5rem;
}

#output-text {
  padding-top: 1rem;
  text-align: center;
}
